{% extends "base.html" %} {% block content %}

<h2>
  Other Occupants :<span><hr /></span>
</h2>
<p>Please leave blank and click submit if you will be living alone.</p>
<br />
<div class="p-t-15">
  <button class="occupant styled" type="submit">Add Occupant</button>
</div>

<form method="POST">
  <br />

  <div class="row row-space" style="display: none">
    <div class="col-2">
      <div class="input-group">
        <label class="label">Name</label>
        <input class="input--style-4" type="text" name="first_name" />
      </div>
    </div>
    <div class="col-2">
      <div class="input-group">
        <label class="label">Relationship</label>
        <input class="input--style-4" type="text" name="last_name" />
      </div>
    </div>
  </div>

  <br />
  <input
    class="favorite styled"
    type="button"
    value="Add Occupant"
    style="display: none"
  />
  <div class="p-t-15">
    <button class="btn btn--radius-2 btn--blue" type="submit">Next page</button>
  </div>
</form>

<script>
  const row_space = document.querySelector(".row-space");
  const occupants = document.querySelector(".row-occupants");
  const btn = document.querySelector(".occupant");
  const add_more = document.querySelector(".favorite");
  let number = 1;
  const html = `  
  <div class="row row-space">
    <div class="col-2">
      <div class="input-group">
        <label class="label">Name</label>
        <input class="input--style-4" type="text" name="first_name" />
      </div>
    </div>
    <div class="col-2">
      <div class="input-group">
        <label class="label">Relationship</label>
        <input class="input--style-4" type="text" name="last_name" />
      </div>
       
     `;
  btn.addEventListener("click", function (e) {
    console.log("hi");
    console.log(row_space);
    row_space.style.display = "";
    add_more.style.display = "";
    btn.style.display = "none";
    // occupants.textContent = `Occupant ${number}`;
    // occupants.style.display = "";
  });

   add_more.addEventListener("click", function (e) {
     console.log("hi");
     const all_occupants = document.querySelectorAll(".row-space");
     if (all_occupants.length >= 5) {
       alert("Maximum number of Occupants Reached");
      return;
    }
     console.log(all_occupants.length + 1);
     row_space.insertAdjacentHTML("beforeend", html);
   });
</script>
{% endblock %}